@import "../config/variables";

.heroImg  {
	position: relative;
  height: 100%;

} 


.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
 
  & > img {
    object-fit: cover !important;
    object-position: 50% 50% !important;
  }
  &::before {
    content: '';
    /*background: rgba(0, 0, 0, 0.25);*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}


.projectWrapper {
margin-top:2rem;
  display: grid;
  /* 100 - header - footer */
  grid-template-rows:calc(100vh - 41px - 47px - 2rem);  /* height limitation on second row */
  grid-template-columns: auto minmax(auto, 600px);

  grid-template-areas: "nav content";

  @include for-tablet-landscape-down {

    display:flex;
    flex-direction:column;
    
    }
}




.projectSideColumnFixed {
  grid-area: nav;
  overflow:hidden;
  
  .header { 
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 1rem;
   
    h1 {
      text-align:right;
   width:100%;
      text-transform: capitalize;
      margin-bottom: .7rem;
      margin-top: .8rem;
      margin-left:.5rem;
    }
   }
}


.backLink {
  width:100px;
  text-decoration: none;
  color:darken($brand-text,20%);
  padding-left:0;

 transition:all .35s ease-in-out;

  :hover {
   color:$brand-text;
   padding-left:5px;
   opacity:1;
   transition:all .35s ease-in-out;
  
  }

   span { 
    
  opacity:0;
     @include for-phone-only {
      display:none;
   }
  }

}


.projectContent {
  padding-top:3rem;
  grid-area: content;
  background-color: white;
  overflow: auto;                          /* overflow condition on parent */

  figcaption {font-size:14px;}

}

article {

  /*min-height: 100%;    */                  
  /* height:800px; */
    @include for-tablet-landscape-down {
    height:auto;
    }                
      /* height set on child; triggers scroll */
      
}

