@import "../../config/variables";

.gridContainer {
  	display:grid;
  	height:100vh;
    height:calc(100vh);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr ;
   h1, h2, p {
		font-family: 'Didact Gothic',sans-serif;
		font-weight:400;
		
   }
    /*@include for-tablet-landscape-down {
		 height:auto;
	}*/
}

.image {
	grid-column: 1;
	grid-row: 1;
	overflow: hidden;
	/*filter:opacity(40%);*/
}

.image > div {

	height:100%;
	
	/* Ajout d'un calque vert transparent sur l'image*/
	&:before {
		content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-color: $brand-cta;
	    /*background-color: #607d01; vert foncé */
	    background-color: #373a47;
	    opacity: .25;
	    z-index:1;
	}
}

.inner {
	grid-column: 1;
	grid-row:1;
	z-index:10; 
	display:flex;
	align-items: center;
	 justify-content: center; 
	 justify-content: flex-end; 
	 flex-direction:column;
	 margin-bottom: 3rem;
}
.subTitle {
	
	
  h2 {
  	font-style:italic;
  	color:$brand-cta;
  	    font-size: 3rem;
  	 @include for-tablet-landscape-down {
		 font-size: 2rem;
	}
  }
}

.hero {
	
	z-index:1;
	.title {
		color: white;
	    font-size: 3rem;
	   /* font-weight:800;*/
	 	text-transform: capitalize;
	    @include for-tablet-landscape-down {
		 font-size: 2rem;
	}
	}
}

.inProgress {
	z-index:100;
	color:white;
	padding:.3em;
	background-color:none;
	a, a:hover {
		color:white;
		cursor:pointer;
	}
	
}
